.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 14px!important;
    font-size: 14px!important;
    font-family: "Open Sans",sans-serif!important;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}