/* COMMON CLASS */
body.app-root{background-color: #E5E5E5;}
.card-border-dark{border:1px solid #939393;}
.bg-primary-red{background-color:#C20F2F;}
.full-height{min-height:100vh;}
.bg-primary-grey{background-color: #e5e5e5;}
.page-content{padding:1.25rem;}
.req{color:#ff0000;}
img.img-130{min-height:130px;}

/* FORM */
.form-control{transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.form-control:focus{border-color:#3f81f9 !important;}
.validation-invalid-label{width: 100%;}
.form-group label{font-weight: 500;}
.input-error,.input-error:active,.input-error:focus{border-color:#FF0000 !important;}
.card-detail{padding-bottom:50px;}
.card-detail .card-text{padding:10px;display: block;background:#f3f3f3;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}

/* LOGIN */
.login-container{min-height:100vh;}

/* TOP NAVBAR */
.dropdown-user .navbar-nav-link>img{max-height: 2.2rem;border:1px solid #bababa;}
.navbar-dark ul.navbar-nav li.nav-item a.navbar-nav-link{font-size: .72rem;}

.navbar-brand{font-size:.7rem;padding-top:.65rem;padding-bottom:.6rem;}
.navbar-brand a img{height:1.5rem;}
.top-navbar-right li .dropdown-menu{padding:0px;}
.top-navbar-right li .dropdown-menu .dropdown-divider{margin:0px;}

/* SECOND NAVBAR */
.navbar-nav.main-navbar{font-weight: 500;}
.navbar .navbar-collapse ul.navbar-nav-highlight li.nav-item a.navbar-nav-link{padding:.675rem 1rem;}
.navbar-nav-highlight .navbar-nav-link{text-transform: none;}
.menu-item.active{background-color:#C20F2F;}
.main-navbar li .dropdown-menu{padding: 0px}
.dropdown-menu>.dropdown-submenu>.dropdown-menu{top:8px;}
.navbar-light .navbar-nav-highlight .navbar-nav-link.active:before{background-color: #C20F2F;}
.navbar-light ul.main-navbar li.nav-item a.navbar-nav-link.active{color: #C20F2F;background-color: transparent !important;}

/* GLOBAL DROPDOWN */
.dropdown-menu{top:99%;}
.dropdown-item.active{background-color: #C20F2F;}

/* DATEPICKER */
.daterangepicker select.yearselect{width:53%;}
.daterangepicker select.monthselect{width:50%;}

/* CONTENT */
.page-header-main .page-title{padding-top:10px;padding-bottom:15px;}
.page-header-main .page-header-content{padding:0px 3px;}
.card-title.pl-2{padding-top: 10px;}
.card-title.pl-2{font-size:18px;font-weight:bold;}
.page-title h5{font-weight: 500;}
.page-header.page-header-main{padding-bottom:10px;}
.p-red{color: #C20F2F;}
.page-header-content{padding-bottom: 10px;}
.blockUI.blockElement{position:fixed !important;top:45% !important;}

/* TABLE */
.table th{padding:.65rem 1.25rem}
.table td{padding:.55rem 1.25rem}
.table thead{border: 1px solid #bbb;}
.dataTables_paginate{float:none;text-align: center;}
.filter-right .dataTables_filter{margin-right: 10px;}
.dataTables_paginate .paginate_button{padding:.2rem;min-width: 1.85003rem;margin: 0 0.167rem;}
.dataTables_paginate .paginate_button.previous, .dataTables_paginate .paginate_button.next{background-color:#f3f3f3;cursor:pointer;}
.dataTables_paginate .paginate_button.previous i, .dataTables_paginate .paginate_button.next i{cursor:pointer;}
.dataTables_paginate .paginate_button.previous:hover, .dataTables_paginate .paginate_button.next:hover{background-color:#dadada;}
.table tbody td .dropdown-menu{padding:0px;border:1px solid #aeaeae;}
.table tbody td .dropdown-menu a.dropdown-item{font-size:.78rem;padding:.4rem 1.25rem;border-top:1px dashed #ccc;}
.table tbody td .dropdown-menu a.dropdown-item:first-child{border-top: 0px;}
.card-table .card-header:not([class*=bg-]):not([class*=alpha-]){padding-top:.35rem;padding-bottom:.35rem;}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:focus, .dataTables_paginate .paginate_button.current:hover{background-color: #C20F2F;}
.dataTables_processing{top:58%;background: #dbdbdb;width:auto;height:auto;padding: 15px 25px;border-radius:.3rem;border:1px solid #878585;left:44%;margin-left:auto;}
.list-icon-table .btn-sm{padding:.3125rem .495rem;font-size:.576rem;border:1px solid #dadada;}
.list-icon-table .btn-sm i{font-size:.85rem;}
table.fixedHeader-floating{left: auto !important;}

/* BUTTON */

/* MODAL */
#modal-input .modal-header{padding: .85rem 1.25rem;}
#modal-input .modal-content{border-top-left-radius:.4rem;border-top-right-radius:.4rem;}
#modal-input .modal-footer{padding:0.64rem 1.25rem;border-bottom-left-radius:0.4rem;border-bottom-right-radius:0.4rem;}

/* DATEPICKER */
.daterangepicker td.active, .daterangepicker td.active:focus, .daterangepicker td.active:hover{background-color: #C20F2F;color:#FFF;}

/* LAYER */
.page-layer .page-layer-overlay{opacity:0;visibility: hidden;background-color:rgba(0,0,0,0.6);position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;transition: all .5s ease .1s;}
.page-layer .page-layer-1{position:fixed;bottom:0px;background:#FFF;top:0px;z-index:101;transition: all .5s ease .1s;}
.page-layer .page-layer-1.layer-xs{right:-650px;width:650px;}
.page-layer .page-layer-1.layer-def{right:-896px;width:896px;}
.page-layer .page-layer-1.layer-lg{right:-1224px;width:1224px;}
.page-layer.active .page-layer-overlay{visibility: visible;opacity:1;}
.page-layer.active .page-layer-1{right:0;transition: all .5s ease .1s;}
.page-layer.active .page-layer-1.layer-xs{width:650px;}
.page-layer.active .page-layer-1.layer-def{width:896px;}
.page-layer.active .page-layer-1.layer-lg{width:1224px;}
.page-layer-1 .page-layer-bottom{position:absolute;bottom:0px;padding:20px;background:#f3f3f3;width:100%;}
.page-layer-1 .page-layer-content{position:absolute;top:0;left:0;bottom:76px;right:0;overflow-y:auto;}
.page-layer-1 .page-layer-content .page-layer-wrapper{padding:20px;}
.page-layer-1 .page-layer-content .page-layer-wrapper h4{border-bottom:1px solid #dadada;padding-bottom:10px;}
.page-layer .nav-tabs.nav-tabs-solid>.active>a, .nav-tabs.nav-tabs-solid>.active>a:focus, .nav-tabs.nav-tabs-solid>.active>a:hover{color:#323232;}
.page-layer .nav-tabs.nav-tabs-bottom>li.active>a, .nav-tabs.nav-tabs-bottom>li.active>a:focus, .nav-tabs.nav-tabs-bottom>li.active>a:hover{background-color:#eaeaea;font-weight: bold;}
.page-layer-1 .page-layer-bottom button{margin-left:5px;}

/* FOOTER */
#navbar-footer .navbar-text{padding-top:.625rem;padding-bottom:.625rem;font-size:.72rem;}

/* ERROR */
.error-page h1.error-title{text-shadow: none;color: #C20F2F;}

/* PAGE */
.task-list .form-check{padding:10px;margin-bottom:0px;border-top:1px solid #dadada;}
.task-list .form-check .uniform-checker{margin:10px;}
.task-list .form-check:nth-child(odd){background:#f3f3f3;}
.task-list .form-check:last-child{border-bottom:1px solid #dadada;}

/* LOGIN */
@media (min-width: 576px) {
    .login-form{width:22rem;}
    .error-title{font-size: 7.5rem;}
}

